#pfp {
    width: 7rem;
}

body {
    font-family: system-ui, sans-serif;
    height: 100vh;
}

.chat-container {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: slategrey;
    overflow: hidden;
}

#chat {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

.user {
    text-align: right;
    color: #38bdf8;
}

.bot {
    text-align: left;
}

form {
    display: flex;
    border-top: 1px solid #1e293b;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: paleturquoise;
}

button {
    background: #38bdf8;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}
